*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;

}
body{
    background: url(back.jpg);
    /* Increase brightness */
    
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path-to-your-image.png');
    background-size: cover;
    background-position: center;
    filter: brightness(130%); 
    z-index: -1; 
  }


h1.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
.logoimg{
    margin-top: 20px;
    width: 125px;
    height: 125px;
    
}
.header1{

    background-size: cover;
    height: 20vh;
    background-position: center;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    
}
#chk1{
    display: none;

}
i{
    color:#fff;
    cursor: pointer;
}
header .logo {
    flex: none;
    color: white;
    text-decoration: none;
    font-size:15px ;
}
header ul{
    flex:2;
    display: flex;
    justify-content: space-evenly;

}
header ul li {
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    font-family: 'Courier New', Courier, monospace;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;

}
 header .menu{
    font: size 2.5em;
    display: none;

 }
 @media(max-width:1000px){
    header ul{
        position: fixed;
        top: 100px;
        background: rgba(0,0,0,0.5);
        height: calc(100vh -100px);
        width:50%;
        flex-direction: column;
        align-items: center ;
        transition: right:0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;

    }
    #chk1:checked ~ ul{
        right:0;
    }
 }
 @media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;

    }
    header ul{
        width:100%;

    }
.para1 p{
        font-weight: bolder;
        color: blue;
        font-size: 50px;
    }
 }

 .para1{
    margin-top: 10%;
    padding-left: 500px;
    padding-right: 150px;
    word-spacing: 10px;
    column-gap: 5px;
    line-height: 1.8;
    font-family: Courier, monospace;

 }